@media (max-width: 360px) {
    html {
        font-size: 13px;
    }
    .contact .social-links {
        width: 300px;
    }
    .cta-button-dl a {
        font-size: 15px;
    }
    .cta-button-vw a {
        font-size: 15px;
    }
    
    .works a {
        font-size: 15px;
    }
    .contact a {
        font-size: 15px;
    }
    .contact span {
        display: none;
    }
}

@media (max-width: 700px) {
    /*==== mobile header ====*/
    .hero {
        background-position: top;
        height: auto;
        aspect-ratio: 16/9;
        max-width: 1200px;
    }
    .brand {
        padding: 0px 5px;
    }
    .brand-name {
        margin-top: 0;
        margin-top: -8px;
    }
    .brand-name h1 {
        margin-bottom: -10px;
        font-size: 25px;
        padding: 0;
    }
    .brand-name span {
        padding-left: 2px;
        font-size: small;
        margin-top: 0px;
        padding: 0;
    }
    .brand-img {
        width: 50px;
        height: 50px;
    }
    .brand-img img {
        width: 50px;
    }

    .nav-menu {
        display: none;
    }
    .menu {
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .hamburger {
        min-width: 30px;
        width: 40px;
        height: 24px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: none;
        border: none;
        z-index: 1000;
    }      
    .bar {
        display: block;
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 3px;
        transition: all 0.3s ease;
    }    
    .hamburger.open .bar:nth-child(1) {
        transform: rotate(45deg) translateY(10px);
    }  
    .hamburger.open .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.open .bar:nth-child(3) {
        transform: rotate(-45deg) translateY(-10px);
    }
    body.noscroll {
        overflow: hidden;
    }
    
    /*=== Side menu ===*/
    .side-menu {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        background: #1c1e29;
        color: white;
        padding: 20px;
        transition: left 0.3s ease;
        z-index: 900;    
    }
    .side-menu.open {
        left: 0;
    }

    .hero-content {
        width: 90%;
        margin: 100px auto;
    } 
    .hero-content h2 {    
        font-size: 35px;
    }
    .hero-cta {
        display: flex;
        gap: 15px;
        justify-content: center;
    }
    .cta-button-dl {
        width: 180px;
        padding: 5px;
        font-size: small;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cta-button-vw {
        width: 150px;
        padding: 5px;
        font-size: small;
    }

    /*=== section ===*/
    .section-description {
        font-size: 30px;
    }

    /*=== About ===*/
    .about {
        width: 85%;
        margin: 50px auto;
        margin-bottom: 0;
    }
    .about-child-img {
        height: 400px;
    }
    .img-background {
        width: 267px;
        height: 280px;
        margin-bottom: 0;
    }
    .img-background img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 270px;
    }
    .about-text {
        padding-top: 0px;
    }
    .about .cta-button {
        width: 100%;
    }
    .about .works {
        padding: 5px;
    }
    .about .contact {
        padding: 5px;
    }

    /*==== Projects ====*/
    .projects-container img {
        width: 100%;
    }

    /*=== cert ===*/
    .cert-container {
        width: 300px;
    }

    /*=== Contact ===*/
    .contact {
        width: 90%;
    }
    .contact-content {
        flex-direction: column;
    }    
    .connect {
        width: 230px;
    }
    .copyrights {
        flex-direction: column;
        text-align: center;
    }
    .right {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .form_message {
        width: 75%;
        padding: 15px;
    }
}

@media only screen  and (max-width: 1030px) {
    .nav-menu {
        display: none;
    }
    .menu {
        position: absolute;
        right: 30px;
        top: 20px;
    }
    .hamburger {
        min-width: 30px;
        width: 40px;
        height: 24px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: none;
        border: none;
        z-index: 1000;
    }
    .bar {
        display: block;
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 3px;
        transition: all 0.3s ease;
    }
    .hamburger.open .bar:nth-child(1) {
        transform: rotate(45deg) translateY(10px);
    }  
    .hamburger.open .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.open .bar:nth-child(3) {
        transform: rotate(-45deg) translateY(-10px);
    }
    body.noscroll {
        overflow: hidden;
    }

    .side-menu {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 60%;
        height: 100vh;
        background: #1c1e29;
        color: white;
        padding: 20px;
        transition: left 0.3s ease;
        z-index: 900; 
    }
    .side-menu.open {
        left: 0;
    }
    .hero-content {
        width: 90%;
        margin: 100px auto;
    }  

    /*=== About ===*/
    .about {
        flex-direction: column;
    }

    .form_message {
        width: 75%;
        padding: 15px;
    }
}

.side-menu ul a {
    text-decoration: none;
    color: white;
}
.side-menu ul li {
    padding: 10px;
    list-style-type: none;
}
.side-menu .social-links li {
    display: inline;
}
.social-links li i {
    font-size: 20px;

}