body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #676a81;
    margin: 0;
	background-color: #eee;
}
* {
	box-sizing: border-box
}

.center {
	text-align: center;
}

a {
	text-decoration: none;
	color: inherit;
}

/*==== LOGIN ====*/
table {
	background: white;
	border-radius: 8px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	margin: 100px auto;
}
.img {
	width: 75%;
	margin: auto;
	text-align: center;
}
.img img {
	width: 80px;
}
input {
	width: 300px;
	background: #eee; 
	height: 30px; 
	padding: 5px;
	border: thin solid #edd; 
	border-radius: 2px;
	outline: none;
}

/*=== header ===*/
header {
	position: fixed;
	width: 100%;
	margin: 0;
	top: 0;
	padding: 15px;
	background-color: #15161D;
	color: white;
}
nav {
	display: flex;
	margin: 10px auto;
}
.nav-child {
	flex: 1;
}

.brand {
	display: flex;
}
.brand-logo {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	justify-content: center;
	overflow: hidden;
}
.brand-logo img {
	width: 80px;
}
.brand h1 {
	font-size: 35px;
	margin: auto 5px;
}
.brand span {
	color: #d92cf9;
}

.profile {
	float: right;
	margin-right: 40px;
	display: flex;
	flex: wrap;
	padding: 3px;
	display: flex;
	align-items: center;
}
.user {
	border: thin solid #d92cf9;
	border-color: transparent #d92cf9 transparent transparent;
	padding: 10px;
}
.user i {
	font-size: 35px;
}
.email {
	padding: 10px;
}

.dropdown {
	overflow: hidden;
	margin: 0;
}
.dropbtn, .dropbtn:focus { 
	padding: 3px;
	padding-left: 5px;
	margin-right: 40px;
	background-color: inherit;
	color: white;
	border: none;
}
.dropbtn i {
	font-size: 20px;
}
.dropdown-content {
	display: none;
	margin-top: 10px;
	position: absolute;
	background-color: purple;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
	z-index: 9;
	border-radius: 2px;
	padding: 3px;}
.dropdown-content a {
	color: white;
	padding: 3px;
	text-decoration: none;
	display: block;
	z-index: 9;
}
.show {
	display: block;
	z-index: 2;
}

.nav-menu {
	display: flex;
	width: 100%;
	justify-content: center;
  	margin: 20px auto 10px;
	gap: 10px;
}
.nav-menu-child {
	flex: 1;
}
.tablink {
  	background-color: #555;
  	color: white;
  	border: none;
  	outline: none;
  	cursor: pointer;
  	padding: 14px 8px;
	width: 100%;
}	
.tablink:hover {
  background-color: #777;
}
.tabcontent {
	color: white;
	display: none;
	justify-content: center;
	margin: 100px auto 0px;
	border: thin solid #15161D;
}

/*=== Panel Form ===*/
form {
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	width: 300px;
}
legend {
	text-align: center;	
	color: #d92cf9;
	text-transform: uppercase;
	font-size: 20px;
    font-weight: 600;
}
input

/*nav {
	margin: 0;
	top: 0;
	background-color: #fff;
	position: fixed;
	width: 100%;
	box-shadow: 0 3px 15px rgba(0,0,0,.2);
	height: 70px;
	padding: 0 ;
}
nav a {
	display: inline-block;
    color: #d92cf9;
    font-size: 20px;
    font-weight: 600;
    padding: 23px 0px 47px;
    text-transform: uppercase;
}
nav p {
	font-weight: 600;
	font-size: 15px;
	color: #555;
}*/




table {
	vertical-align: top;
	padding: 10px;
	border-radius: 8px;
	box-shadow: none;
}

input select {
	outline: none;
	padding: 8px;
	margin: 10px;
	background-color: #eee;
	border: thin solid #edd;
	border-radius: 3px;
}
input.submit {
    text-transform: uppercase;
	background-color: #d92cf9;
    color: white;
    font-size: 18px;
    border: #d92cf9;
}

.accordion {
	background-color: white;
	color: black;
	cursor: pointer;
	padding: 0;
	margin: 0;
	width: 100%;
	border: none;
	text-align: left;
	outline: none; transition: 0.4s;
}
.panel {
	padding: 0 5px;
	display: none;
	background-color: white;
	overflow: auto;
}
.contact_sms {
	padding: 0px;
	font-size: small;
	color: #555;
	width: 100%;
	overflow: scroll;
	height: 500px;
}
.client-image {
  	width: 50px;
  	height: 50px;
	border-radius: 50%;
	margin-right: 15px;
}
@media only screen and (max-width: 768px) {
	.contact_sms {width: 300px;}
	.profile {
		margin-top: 3px;
	}
	.menu {
		margin-top: 75px;
	}
}
