body {
	font-family: Poppins, sans-serif;
	font-size: 16px;
	color: #676a81;
    margin: 0;
	background-color: #eee;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}

/*=== Form ===*/
.form-container {
	background-color: #fff;
	width: 100%;
	max-width: 400px;
	padding: 25px;
	border-radius: 10px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
legend {
	text-align: center;	
	color: #d92cf9;
	text-transform: uppercase;
	font-size: 20px;
    font-weight: 600;
}
.form-group {
	margin: 10px auto;
}
label {
	display: block;
	margin-bottom: 6px;
	font-weight: bold;
	color: #374151;
}
input, textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #d1d5db;
	border-radius: 6px;
	outline: none;
	font-size: 15px;
}
textarea {
	height: 100px;
}
input:focus, textarea:focus {
	border-color: #d92cf9;
	box-shadow: 0 0 5px rgba(37, 99, 235, 0.3);
}
input.submit {
    text-transform: uppercase;
	background-color: #d92cf9;
    color: white;
    border: #d92cf9;
}

/*==== LOGIN ====*/
.img {
	width: 75%;
	margin: auto;
	text-align: center;
}
.img img {
	width: 80px;
}

/*=== header ===*/
header {
	position: fixed;
	width: 100%;
	margin: 0;
	top: 0;
	padding: 15px;
	background-color: #15161D;
	color: white;
}
nav {
	display: flex;
	margin: 10px auto;
}
.nav-child {
	flex: 1;
}

.brand {
	display: flex;
}
.brand-logo {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	justify-content: center;
	overflow: hidden;
}
.brand-logo img {
	width: 80px;
}
.brand h1 {
	font-size: 35px;
	margin: auto 5px;
}
.brand span {
	color: #d92cf9;
}

.profile {
	float: right;
	margin-right: 40px;
	display: flex;
	flex: wrap;
	padding: 3px;
	display: flex;
	align-items: center;
}
.user {
	border: thin solid #d92cf9;
	border-color: transparent #d92cf9 transparent transparent;
	padding: 10px;
}
.user i {
	font-size: 35px;
}
.email {
	padding: 10px;
}

.dropdown {
	overflow: hidden;
	margin: 0;
}
.dropbtn, .dropbtn:focus { 
	padding: 3px;
	padding-left: 5px;
	margin-right: 40px;
	background-color: inherit;
	color: white;
	border: none;
}
.dropbtn i {
	font-size: 20px;
}
.dropdown-content {
	display: none;
	margin-top: 10px;
	position: absolute;
	background-color: purple;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
	z-index: 9;
	border-radius: 2px;
	padding: 3px;
}
.dropdown-content a {
	color: white;
	padding: 3px;
	text-decoration: none;
	display: block;
	z-index: 9;
}
.show {
	display: block;
	z-index: 2;
}

.nav-menu {
	display: flex;
	width: 100%;
	justify-content: center;
  	margin: 20px auto 10px;
	gap: 10px;
}
.nav-menu-child {
	flex: 1;
}
.tablink {
  	background-color: #555;
  	color: white;
  	border: none;
  	outline: none;
  	cursor: pointer;
  	padding: 14px 8px;
	width: 100%;
}	
.tablink:hover {
  background-color: #777;
}
.tabcontent {
	color: white;
	display: none;
	justify-content: center;
	margin-top: 200px;
}

/*==== Mobile View ====*/
@media (max-width: 400px) {	
	.brand h1 {
		font-size: 1.5rem;
	}
	.profile {
		margin-right: 10px;
	}
	.form-container {
		margin: auto;
		padding: 20px;
		max-width: 300px;
	}
	.tabcontent {
		margin-top: 150px;
	}
}
@media (max-width: 768px) {
	.brand-logo {
		width: 50px;
		height: 50px;
	}
	.brand-logo img {
		width: 50px;
	}
	.user i {
		font-size: 25px;
	}
	.email {
		display: none;
	}
	.dropbtn i {
		padding: 10px;
	}
	.dropdown-content {
		right: 10px;
	}
	.nav-menu {
		margin: 10px auto 5px;
	}
	.tablink {
  		padding: 10px 8px;
	}
}